@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Seja bem-vindo(a) a floriculrura da Lu!</p>
<p>Pagamentos em pix/dinheiro/débito</p>
<p>Mantenha o banco atualizado!</p>

@section Footer{
       <Span>Todos os direitos reservados!</Span>
}